{% extends '_base.html'%}
{% load static %}

<!--* HEAD -->
{% block title %}
SekShop
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'app/app.css' %}">
<link rel="stylesheet" href="{% static 'reviews/reviews.css' %}">
{% endblock style %}

<!--* BODY -->

{% block header %}
    {% include 'includes/_header.html' %}
    {% include 'app/includes/_banner.html' %}
{% endblock header %}


{% block main %}
    <main class="main">
        <div class="content">

            {% include 'reviews/includes/_review_list.html' %}
        </div>
    </main>
{% endblock main %}

{% block footer %}
{% include 'includes/_footer.html' %}
{% endblock footer %}