{% extends '_base.html'%}
{% load static %}

<!--* HEAD -->
{% block title %}
Review
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'app/app.css' %}">
<link rel="stylesheet" href="{% static 'reviews/reviews.css' %}">
{% endblock style %}

<!--* BODY -->

{% block header %}
    {% include 'includes/_header.html' %}
    {% include 'app/includes/_banner.html' %}
{% endblock header %}


{% block main %}
    {% include 'reviews/includes/_review.html' %}
{% endblock main %}

{% block footer %}
{% include 'includes/_footer.html' %}
{% endblock footer %}