{% extends '_base.html'%}
{% load static %}

<!--* HEAD -->
{% block title %}
    Review
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/app.css' %}">
    <link rel="stylesheet" href="{% static 'reviews/reviews.css' %}">
{% endblock style %}

<!--* BODY -->

{% block header %}
    {% include 'includes/_header.html' %}
{% endblock header %}   

{% block main %}
    <main class="main">   

        <h1>
            Thank U for Review
        </h1>

    </main> 
{% endblock main %}

{% block footer %}
{% include 'includes/_footer.html' %}
{% endblock footer %}